<template>
  <div class="text-white mb-8">
    <div class="places-input text-gray-800">
      <input type="search" id="address" class="form-control" placeholder="Where are we going?" />
      <p>
        Selected:
        <strong id="address-value">none</strong>
      </p>
    </div>
    <!-- end places input -->
    <div
      class="weather-container font-sans w-128 max-w-lg overflow-hidden bg-gray-900 shadow-lg mt-4 rounded-lg"
    >
      <div class="current-weather flex items-center justify-between px-6 py-8">
        <div class="flex items-center">
          <div>
            <div class="text-6xl font-semibold">{{currentTemperature.actual}}°C</div>
            <div>Feels like {{currentTemperature.feelsLike}}°C</div>
          </div>
          <div class="mx-5">
            <div class="font-semibold">{{currentTemperature.summary}}</div>
            <div>{{location.name}}</div>
          </div>
        </div>
        <div>
          <img :src="currentTemperature.icon" />
        </div>
      </div>
      <!-- end current weather -->

      <div class="future-weather text-sm bg-gray-800 px-6 py-8 overflow-hidden">
        <div
          v-for="(day,index) in daily"
          :key="day.dt"
          :class="{'mt-8': index > 0}"
          class="flex items-center mt-8"
        >
          <div class="w-1/6 text-lg text-gray-200">{{toWeekDay(day.dt)}}</div>
          <div class="w-2/3 px-4 flex items-center">
            <div>
              <img :src="forecastIcon(day.weather[0].icon)" width="70px" />
            </div>
            <div class="ml-3">{{day.weather[0].description}}</div>
          </div>
          <div class="w-1/6 text-right">
            <div>{{Math.round(day.temp.max)}}°C</div>
            <div>{{Math.round(day.temp.min)}}°C</div>
          </div>
        </div>
      </div>
      <!-- end future weather -->
    </div>
    <!-- end weather container -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentTemperature: {
        actual: '',
        feelsLike: '',
        summary: '',
        icon: '',
      },
      location: {
        name: 'Corozal',
        lat: 18.294514,
        long: -88.509476
      },
      daily: []
    }
  },
  watch: {
    location: {
      handler(newValue, oldValue) {
        this.fetchdata()
      },
      deep: true
    }
  },
  mounted() {
    this.fetchdata();
    var placesAutocomplete = places({
      appId: 'plVXKLV5GWPG',
      apiKey: '62ac411694a472c6589c95bd0d8b4869',
      container: document.querySelector('#address')
    });

    var $address = document.querySelector('#address-value')
    placesAutocomplete.on('change', (e) => {
      $address.textContent = e.suggestion.value
      console.log(e)
      this.location.name = `${e.suggestion.name}, ${e.suggestion.country}`
      this.location.lat = e.suggestion.latlng.lat
      this.location.long = e.suggestion.latlng.lng

    });

    placesAutocomplete.on('clear', function () {
      $address.textContent = 'none';
    });

  },
  methods: {
    fetchdata() {
      fetch(`/api/currentWeather?lat=${this.location.lat}&long=${this.location.long}`).then(res => res.json()).then(data => {
        // console.log(data)
        this.currentTemperature.actual = Math.round(data.main.temp)
        this.currentTemperature.feelsLike = Math.round(data.main.feels_like)
        this.currentTemperature.summary = data.weather[0].description,
          this.currentTemperature.icon = `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`,
          this.location.name = data.name
      })

      fetch(`/api/forecast?lat=${this.location.lat}&long=${this.location.long}`).then(res => res.json()).then(data => {
        this.daily = data.daily
      })
    },
    toWeekDay(timestamp) {
      const newDate = new Date(timestamp * 1000);
      const days = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
      return days[newDate.getDay()]
    },
    forecastIcon(icon) {
      let iconId = icon
      return `http://openweathermap.org/img/wn/${iconId}@2x.png`
    }
  },

  computed: {

  }
}
</script>
